.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 250px;
  border-radius: 10px;
  padding: 10px;
  margin: 15px;
  box-shadow: 0 0 10px -7px var(--fondo-fuerte-oscuro);
  margin: 0 50px 30px 50px;
  filter: grayscale(10%);
  transition: all 0.3s linear;

}

.container:hover {
  filter: grayscale(0%) blur(.5px) brightness(130%);
  background-color: var(--fondo-fuerte);
  color: var(--fondo-blanco);
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.img {
  width: 200px;
  height: 100px;
}

.name {
  text-align: center;
}